  </div>
  <div class="container">
    <div id="welcome-greeting">
      
      <h1>Hi! I'm Arturo.</h1>
      
      <h2>

      Take a look at my convolutional neural net for <a href="https://github.com/arturomp/kaggle/blob/master/digit-recognition/cnn-digit-recognition.ipynb" target="_blank">optical character recognition</a>, my Doc2Vec + XGBoost attempt at <a href="https://github.com/arturomp/kaggle/blob/master/quora-question-similarity/quora-question-similarity.ipynb" target="_blank">paraphrase detection of millions of questions</a>, and my approach to taking knowledge from known fields to automatically <a href="https://github.com/arturomp/kaggle/blob/master/stack-exchange-keyword-extraction/Stack-Exchange-keyword-extraction.ipynb" target="_blank">extract keywords from text</a> in a new field. You can also peek at my <a href="https://www.ncbi.nlm.nih.gov/pubmed/23920798" target="_blank">publication</a> on text classification in a medical setting.

      <br>
      <br> 

      If you're new to Machine Learning, take a look at <a href="https://github.com/arturomp/coursera-machine-learning-in-python#readme" target="_blank">these notebooks</a> where I walk through implementing foundational ML algorithms from scratch.
      <br>
      <br> 

      Lately I've spent a lot of time <a href="{{ site.baseurl }}/photoprojects/cooking.html">cooking</a>. I've also been travelling a bunch and <a href="{{ site.baseurl }}/photoprojects/travel.html">taking pictures</a>.

      </h2>

    </div>
  </div>
  <div class ="container">
